/* assets/css/releases.css */

.tags,
.release .tags {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 0.5em;
}
.tags li {
  background: #eef;
  color: #225;
  border-radius: 7px;
  padding: 0.2em 0.7em;
  font-size: 0.95em;
}
.release {
  margin-bottom: 2.5em;
  padding-bottom: 2em;
  border-bottom: 1px solid #eee;
}
.release h2 a {
  color: #0b3;
  text-decoration: none;
  transition: color 0.2s;
}
.release h2 a:hover {
  color: #095;
  text-decoration: underline;
}
