---
author: undead404
css: '/assets/css/post.css'
date: {{ rawDate }}
{{#imageUrl}}imageUrl: {{{ imageUrl }}}{{/imageUrl}}
layout: default
summary: "Українська музика, випущена в цей день – {{ prettyDate }}. {{ shortArtistsList }}"
tags: [{{ tags }}]
title: Релізи за {{ prettyDate }}
---

<main class="main-content">
  <header>
    <h1>Релізи за <time datetime="{{ rawDate }}">{{ prettyDate }}</time></h1>
    <p class="summary">Українська музика, випущена в цей день</p>
      <ul class="tags">
        {{#tags}}
          <li>{{.}}</li>
        {{/tags}}
      </ul>
  </header>
  <section class="releases">
    {{#releases}}
    <article class="release">
      <header>
        <h2>
          {{ artists }} - {{ title }}
        </h2>
      </header>
      <figure>
        <img src="{{{ imageUrl }}}" alt="Обкладинка {{ title }}">
        <figcaption>{{ artists }} — {{ title }}</figcaption>
      </figure>
      <ul>
        <li><strong>Назва:</strong> {{ title }}</li>
        <li><strong>Виконавці:</strong> {{ artists }}</li>
        <li><strong>Дата виходу:</strong> {{ releaseDate }}</li>
        <li><strong>Популярність:</strong> {{ popularity }}</li>
        <li><strong>Тип:</strong> {{ type }}</li>
        <li><strong>Всього стежин:</strong> {{ totalTracks }}</li>
        {{#tags.length}}
            <li><strong>Теги:</strong>
            <ul class="tags">
                {{#tags}}
                <li class="tag">{{.}}</li>
                {{/tags}}
            </ul>
            </li>
        {{/tags.length}}
        <li><strong>Слухати:</strong> <a href="{{{ url }}}" target="_blank">{{ url }}</a></li>
      </ul>
    </article>
    {{/releases}}
  </section>
</main>